
# go app will use this environment variable 
DATABASE_URL="postgres://app_user:something_secret@localhost:5434/wrls?sslmode=disable"

# for the postgres db container
DB_USER=app_user
DB_PASSWORD=somethin_secret
DB_HOST=localhost
DB_NAME=wrls
DB_PORT=5434

# Secret key to be used by the JWT during signing for integrity test..
SECRET_KEY=a6acf44e368a8ccf5155e43ef6b2ec9f
